.icon{
    margin-bottom: 20px; 
}

.searchParameters:hover{
    color:#007bff; 
    font-weight: bold; 
}

.searchParameters:visited{
    color:#007bff; 
    font-weight: bold; 
}
.searchParameters:active{
    color:#007bff; 
    font-weight: bold; 
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 27px;
  margin-left: -15px; 
  margin-right: -15px; 
  border: 1px solid #ccc;
  border-top: none;
}

.char_image{
  width: 10%; 
  height: auto; 
}

body{
  margin-bottom: 3%; 
}

/* User input validation CSS */
/* Show red borders when filled, but invalid */
input[data-state="invalid"] {
  border-color: hsl(0, 76%, 50%);;
}

/* Show green borders when valid */
input[data-state="valid"] {
  border-color: hsl(120, 76%, 50%);
}

#errorMessage {
  color: red;
  margin-left: 210px;
}


